.profil {
  padding: 5rem 1rem;
  background-color: #e3e1d9;
}

#projects {
  padding: 2rem 1rem;
  background-color: #f2efe5;
}

#skill {
  padding: 1rem 1rem;
  background-color: #f2efe5;
}

#contact {
  padding: 1rem 1rem;
  background-color: #f2efe5;
}

.footer {
  padding: 1rem 1rem;
}
